* {
    margin: 0;
    padding: 0;
}

.slider{
    display: flex;
    justify-content: center;
}

.slider-image{
    border-radius: 100%;
}

.slider-element{
    animation: ease-in 2s;
}

.btn{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 60px;
    height: 40px;
    border: 1px solid green;
}

.btn-container{
    padding: 10px;
    display: grid;
    align-items: center;
}

